.redText{
    color: #ffffff;
    font-weight: 40;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #173F5F;  
}
nav {
    float: left;
    width: 30%;
    height: 300px; 
    background: #333333;
    padding: 20px;}
    
#Profilephoto{
    width: 500px;
    height:500px
}
.box {
    widows: 100%;
    height: 200px;
    background: color 173F5F;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #163f5e;
    border-radius: .3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-color: #ffffff;
}

